{% extends 'base.html' %}

{% block content %}
<div class="col-lg-6 offset-lg-3">

    <h1>Detail</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <h2 class="info-msg">{{ message }}</h2>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <table class="table table-hover table-bordered">
        <tbody>
            <tr>
                <th width="40%">タイトル</th>
                <td width="60%">{{ work.title }}</td>
            </tr>
            <tr>
                <th width="40%">メモ</th>
                <td width="60%">{{ work.memo }}</td>
            </tr>
            <tr>
                <th width="40%">画像</th>
                <td width="60%">
                <img src="{{ image }}" alt={{ work.title }}  width="300" height="200" border="0" /></td>
            </tr>
        </tbody>
    </table>


    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="ボタングループのツールバー">
        <div class="btn-group mr-2">
            <a class="btn btn-primary w-150px" href="{% url 'works:index' %}" role="button">一覧画面へ</a>
        </div>
    </div>

</div>
{% endblock %}